/* Estilos globales */
body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #91b6e6;
    color: #3e59cf;
    text-align: center;
    padding: 1rem;
  }
  h1 {
    margin: 0;
  }
  nav {
    background-color: #ce9ace;
    padding: 0.5rem;
    text-align: center;
  }
  nav ol {
    list-style: none;
    margin: 2px;
    padding: 0;
  }
  nav li {
    display: inline-block;
    margin: 0 1rem;
  }
  main {
    padding: 2rem;
  }
 
  