*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #ffdef0;
  color: #441f33;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
header {
  background-color: #eeadd1;
  color: #441f33;
  text-align: center;
  padding: 1rem;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    color: #441f33;
    text-align: center;
  }
h2 {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1,6;
    margin: 1rem;
    color: #441f33;
    text-align: justify;
    size: 7;
  }
nav ul {
  text-align: center;
  background-color: #eeadd1;
  list-style: none;
}
nav li {
    display: inline-block;
    margin: 0 5rem;
    list-style: decimal;
    font-family: 'Times New Roman', Times, serif;
  }
nav li a {
  color: #441f33 ;
  text-decoration: none;
}
p {
    background-color: #ffdef0 ;
    color: #441f33;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    padding-left: 1em;
    padding-right: 1em;
}
main {
  background-color: #ffdef0;
  color: #441f33;
  padding: 2rem;
}
div {
  background-color: #ffdef0;
}
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
th, td {
  border: 1px solid #ddb6cb;
  padding: 10px;
}
th {
  background-color: #ddb6cb;
}
tr:hover {
  background-color: #ddb6cb;
}
ol {
  font-family: 'Times New Roman', Times, serif;
  color: #441f33;
}