h1 {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;  
    background-color: #91b6e6;
    color: #3e59cf;
    text-align: center;
  }
header {
    background-color: #91b6e6;
    color: #3e59cf;
    text-align: center;
    padding: 1rem;
  }
h2 {
    text-align: justify; 
    font-family: 'Times New Roman', Times, serif;
    size: 7;
  }
h3 {
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
    size: 7;
  }
 nav li {
    display: inline-block;
    margin: 0 1rem;
    list-style: decimal;
    font-family: 'Times New Roman', Times, serif;
  }
h4 {
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
    size: 7;
  }
p {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    size: 6;
    margin: 2;
    padding-left: 1em;
    padding-right: 1em;
}